DUPE_DB_URL=jdbc:postgresql://postgres:5432/dupesc
DUPE_DB_USER=dupesc
DUPE_DB_PASSWORD=dupesc
DUPE_CERC_BASE_URL=http://cerc-mock:8080
DUPE_CERC_TOKEN_URL=http://cerc-mock:8080/oauth/token
DUPE_CERC_CLIENT_ID=poc-client
DUPE_CERC_CLIENT_SECRET=poc-secret
DUPE_CERC_WEBHOOK_SECRET=poc-secret
DUPE_LEGADO_BASE_URL=http://legado-mock:8080
DUPE_POD_ID=app-local
DUPE_LEGADO_API_KEY=poc-legado
DUPE_ADMIN_API_KEY=poc-admin
